[Desktop Entry]
Type=Application
Exec=/home/zero/.config/autostart/Microsoft/exec1.sh /home/zero/.config/autostart/Microsoft
X-GNOME-Autostart-enabled=true
Terminal=false
